#speedLimit {
    position: absolute;
    top: 940px; left: 308px; z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    opacity: 0.85;
}

#speedLimitSign {
    position: absolute;
    top: 950px; left: 300px;
    opacity: 0.85;
}